
h1 {
    font-size: 4.5rem;
}

h2 {
    margin-top: 0;
    font-size: 3.25rem;
    color:#F26938;
}

h4 {
    color:#F26938;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.6)), url(../images/webp/contact-theme.webp);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    text-align: center;
    margin: 50px 0 50px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 250px;
}

#header h1 {
    padding-top: 50px;
    color: white;
}

.contact-container {
    width: 90%;
    margin:20px auto 0;
    /* padding-left: 70px; */
    background-color: #fafafa;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}


/* form style */
input {
    height: 30px;
    margin-bottom: 30px;
    border-radius: 9px;
    width: 475px;
    border: solid black 1px;
    
}

select {
    height: 30px;
    margin-bottom: 30px;
    border-radius: 9px;
    width: 481px;
    border: solid black 1px;
    
}

textarea {
    height: 50px;
    margin-bottom: 30px;
    border-radius: 9px;
    width: 475px;
    border: solid black 1px;
    font-family: Arial, Helvetica, sans-serif;
}


input[type=submit] {
    color: white;
    /* background-color: #F28B0C; */
    background-color: #F26938;;
    height: 30px;
    margin-bottom: 30px;
    border-radius: 9px;
    width: 475px;
    border: solid #F28B0C 1px;
}

input[type=submit]:hover {
    transition: background-color 0.25s;
    /* background-color: #F26938; */
    background-color: #2F0840;
    border:solid 1px #2F0840;
    cursor: pointer;
}

/* info style */
.info p{
    color: black;
}


p.my-name{
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 3rem;
    color:#F26938;
}
.big-text {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 25px;
}

.social {
    margin-top: 60px;
}


#contact-footer {
    margin-top: 70px;
}
.contact-sign {
    font-size: 10px;
    color: black; 
    padding-bottom: 20px;
}

/* mobile screen */
@media only screen and (max-width:480px) {
    h1 {
        font-size: 2.9rem;
    }
    .contact-container {
        text-align: center;
        max-width: 480px;
    }
    .contact-container h2 {
        font-size: 1.6rem;
    }
    .contact-container input {
        width: 300px;
    }
    .contact-container select {
        width: 306px;
    }
    .contact-container textarea {
        width: 300px;
    }
    .contact-container input[type=submit] {
        width: 305px;
    }
   .big-text {
    font-size: 1.4rem;
   }

   #contact-footer {
    margin-top: 20px;
   }
}